* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1 {
	display: inline-block;
	color: #fff;
	/*font-size: 2em;
	line-height: 1.15;*/
}

h3 {
	display: inline-block;
}

ul {
	margin: 0;
	padding: 0;
}

input[type="text"] {
	display: block;
	margin: 0;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

input[type="text"]:focus,
input[type="text"].focus {
	outline: none;
	border-bottom: solid 2px #969696;
}

.name-container, .title-container, .icon, .nav-list li, .theme-title {
	transition: background-color 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.content-bg {
	transition: background-image 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.main {
	position: relative;
	width: 100%;
	height: 100%;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
}

.name-container {
	display: table;
	width: 100%;
	height: 4em;
}

.name {
	display: table-cell;
	vertical-align: middle;
	padding: 0 2em;
}

.nav-list ul li {
	width: 100%;
	height: 6em;
	border-bottom: 1.5px solid #f3f3f3;

	transition: border 1s cubic-bezier(0.250, 0.460, 0.450, 0.940), background-color 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.nav-list ul li:hover {
	background-color: #ececec;
}

.bottom-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.nav-icons {
	width: 100%;
	margin: 0;
	padding: 1.5em 0;
	background-color: #fff;
}

.nav-icons a {
	color: #333;
	text-decoration: none;
	transition: color 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.nav-icons a p {
	margin: 0;
}

.nav-icons li {
	display: inline-block;
	width: 32.5%;
	margin: 0 auto;
	text-align: center;
}

.icon {
	border-radius: 50%;
	margin: 1em auto;
	width: 45px;
	height: 45px;
}

.nav-icons a:nth-child(1) .icon {
	background: url("../img/icons/add.svg") no-repeat center center;
}

.nav-icons a:nth-child(2) .icon {
	background: url("../img/icons/bg.svg") no-repeat center center;
}

.nav-icons a:nth-child(3) .icon {
	background: url("../img/icons/info.svg") no-repeat center center;
}

/*.nav-icons li::before {
	content: '';
	display: block;
	width: 45px;
	height: 45px;
	margin: 0 auto;
	margin-bottom: 0.75em;
}

.nav-icons a:nth-child(1) li::before {
	background: url("../img/icons/add.svg") no-repeat center center;
}

.nav-icons a:nth-child(2) li::before {
	background: url("../img/icons/bg.svg") no-repeat center center;
}

.nav-icons a:nth-child(3) li::before {
	background: url("../img/icons/info.svg") no-repeat center center;
}*/

.content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.content-bg {
	width: 100%;
	height: 100%;
}

.title-container {
	display: table;
	width: 100%;
	height: 4em;
	/*background-color: rgba(249, 249, 249, 0.95);*/
}

.title {
	display: table-cell;
	vertical-align: middle;
}

.back-btn {
	display: inline-block;
	width: 40px;
	height: 20px;
	background: url('../img/icons/back.svg') no-repeat center center;
	background-size: 20px 20px;
}

.list-title {
	display: inline-block;
	line-height: 0;
}

.task-input {
	display: block;
	width: 100%;
}

.task-input input[type="text"] {
	margin: 4em auto;
	width: 90%;
	height: 2em;
}

.task-input input[type="text"]:focus,
.task-input input[type="text"].focus {
	outline: none;
	border-bottom: solid 2px #969696;
}

.task-container {
	width: 100%;
}

.task {
	background: rgba(255, 255, 255, 0.95);
	width: 90%;
	height: 2.5em;
	margin: 0 auto;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(243, 243, 243, 0.75);
	opacity: 0;
	z-index: 999;
	pointer-events: none;

	transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.modal:target {
	opacity: 1;
	pointer-events: auto;
}

.modal-container {
	width: 75%;
	overflow: auto;
	margin: auto;
	padding: 1.5em 1em;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	border: 1.5px solid;
	background-color: #f3f3f3;

	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

	transition: border-color 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.modal-title {
	padding-bottom: 1em;
}

.modal-title h1 {
	color: #333333;
	font-size: 1.5em;
}

.button-container {
	display: block;
	position: relative;
	width: 100%;
}

.button-container .buttons {
	position: absolute;
	right: 0;
}

.buttons .button {
	text-decoration: none;
	color: #333333;
	padding: 0.75em 0.75em;
}

.info {
	height: 300px;
}

.theme {
	height: 243px;
}

.theme-options div {
	margin-bottom: 0.9em;
}

.new-list, .edit-list {
	height: 175px;
}

.list-input {
	margin-top: 1em;
	margin-bottom: 3.75em;
}

.list-input input[type="text"] {
	background-color: #f3f3f3;
	width: 100%;
}

.new-list .button {
	margin-left: 1em;
}

/*.bg-content {
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}*/

.bamboo {
	background: #f9f9f9 url("../img/bamboo.jpg") no-repeat center;
	background-size: cover;
}

.fields {
	background: #f9f9f9 url("../img/fields.jpg") no-repeat center;
	background-size: cover;
}

.mountains {
	background: #f9f9f9 url("../img/mountains.jpg") no-repeat center;
	background-size: cover;
}

.sky {
	background: #f9f9f9 url("../img/sky.jpg") no-repeat center;
	background-size: cover;
}

.cliffs {
	background: #f9f9f9 url("../img/cliffs.jpg") no-repeat center;
	background-size: cover;
}



@media only screen and (min-width: 1280px) {
	nav {
		width: 25%;
	}
	
	.content {
		width: 75%;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	nav {
		width: 35%;
	}
	
	.content {
		width: 65%;
	}
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
	nav {
		width: 40%;
	}
	
	.content {
		width: 60%;
	}
}

@media only screen and (max-width: 760px) {
	nav {
	}

	.main {
		overflow: hidden;
	}
	
	.content {
		transform: translateX(100%);
		-webkit-transition: transform 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
   		-moz-transition: transform 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
     	-o-transition: transform 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        transition: transform 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutCubic */
	}

	.content.visible {
		transform: translateX(0);
	}
}














.active {
	background-color: rgba(240,90,63,0.25);
}

label.active {
	text-decoration: line-through;
}

.title input[type="text"] {
	padding: 0;
	margin: 0;
	font-size: 2em;
	/*appearance: none;
	box-shadow: none;
	border: none;
	border-radius: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-o-border-radius: none;
	-ms-border-radius: none;
	border-bottom: solid 0.15em #b6b6b6;
	transition: border 0.3s;
	-moz-transistion: border 0.3s;
	-webkit-transition: border 0.3s;*/
}

/*input[type="text"]:focus {
	outline: none;
	border-bottom: solid 0.15em #FF9800;
}*/