h1 {
	display: inline-block;
	font-size: 2em;
	line-height: 1.15;
}

.active {
	background-color: rgba(240,90,63,0.25);
}

.title input[type="text"] {
	padding: 0;
	margin: 0;
	font-size: 2em;
	/*appearance: none;
	box-shadow: none;
	border: none;
	border-radius: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-o-border-radius: none;
	-ms-border-radius: none;
	border-bottom: solid 0.15em #b6b6b6;
	transition: border 0.3s;
	-moz-transistion: border 0.3s;
	-webkit-transition: border 0.3s;*/
}

/*input[type="text"]:focus {
	outline: none;
	border-bottom: solid 0.15em #FF9800;
}*/