* {
  margin: 0;
}

html, body {
  height: 100%;
}

.main {
	position: relative;
	width: 100%;
	height: 100%;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	background-color: #f8f8f8;
}

.name {
	width: 100%;
	height: 4em;
}

.bottom-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.nav-icons {
	width: 100%;
	margin: 0;
	padding: 1.5em 0;
	background-color: #fff;
}

.nav-icons li {
	display: inline-block;
	width: 32.5%;
	margin: 0 auto;
	text-align: center;
}

.nav-icons li::before {
	content: '';
	display: block;
	width: 45px;
	height: 45px;
	margin: 0 auto;
	margin-bottom: 0.75em;
}

.nav-icons a:nth-child(1) li::before {
	background: url("../img/icons/add.svg") no-repeat center center;
}

.nav-icons a:nth-child(2) li::before {
	background: url("../img/icons/bg.svg") no-repeat center center;
}

.nav-icons a:nth-child(3) li::before {
	background: url("../img/icons/info.svg") no-repeat center center;
}

.content {
	position: absolute;
	top: 0;
	right: 0;
	width: 75%;
	height: 100%;

	transition: background 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.title {
	width: 100%;
	height: 4em;
	/*background-color: rgba(249, 249, 249, 0.95);*/
}

.modal-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(243, 243, 243, 0.75);
	opacity: 0;
	z-index: 999;
	pointer-events: none;

	transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.modal-bg:target {
	opacity: 1;
	pointer-events: auto;
}

.bg-container {
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: #f3f3f3;
}

.bg-content {
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.bamboo {
	background: #f9f9f9 url("../img/bamboo.jpg") no-repeat center;
	background-size: cover;
}

.fields {
	background: #f9f9f9 url("../img/fields.jpg") no-repeat center;
	background-size: cover;
}

.mountains {
	background: #f9f9f9 url("../img/mountains.jpg") no-repeat center;
	background-size: cover;
}

.sky {
	background: #f9f9f9 url("../img/sky.jpg") no-repeat center;
	background-size: cover;
}

.cliffs {
	background: #f9f9f9 url("../img/cliffs.jpg") no-repeat center;
	background-size: cover;
}






h1 {
	display: inline-block;
	font-size: 2em;
	line-height: 1.15;
}

h3 {
	display: inline-block;
}

.active {
	background-color: rgba(240,90,63,0.25);
}

label.active {
	text-decoration: line-through;
}

.title input[type="text"] {
	padding: 0;
	margin: 0;
	font-size: 2em;
	/*appearance: none;
	box-shadow: none;
	border: none;
	border-radius: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-o-border-radius: none;
	-ms-border-radius: none;
	border-bottom: solid 0.15em #b6b6b6;
	transition: border 0.3s;
	-moz-transistion: border 0.3s;
	-webkit-transition: border 0.3s;*/
}

/*input[type="text"]:focus {
	outline: none;
	border-bottom: solid 0.15em #FF9800;
}*/