* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #333;
}

a, a:focus {
	outline: 0;
}

h1 {
	display: inline-block;
	color: #f3f3f3;
	/*font-size: 2em;
	line-height: 1.15;*/
}

h3 {
	display: inline-block;
}

ul {
	margin: 0;
	padding: 0;
}

input[type="text"] {
	display: block;
	margin: 0;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

input[type="text"]:focus,
input[type="text"].focus {
}

.name-container, .title-container, .icon, .nav-list li, .theme-title {
	transition: background-color 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.content-bg {
	transition: background-image 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.main {
	position: relative;
	width: 100%;
	height: 100%;
}

nav {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
	overflow: auto;
}

.nav-container {
	width: 100%;
	height: 100%;
}

.name-container {
	position: fixed;
	display: table;
	width: 100%;
	height: 4em;
}

.name {
	display: table-cell;
	vertical-align: middle;
	padding: 0 2em;
}

.app-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 0.5em; 
	background: url('../img/icons/check.svg') no-repeat center center;
	background-size: 20px 20px;

}

.options-icon {
	position: absolute;
	top: 1.4em;
	right: 1.5em;
	width: 20px;
	height: 20px;
	margin-left: 8em; 
	background: url('../img/icons/dots-vertical.svg') no-repeat center center;
	background-size: 20px 20px;
}

.nav-list {
	width: 100%;
	padding-top: 4em;
}

.list-item {
	padding: 2em;
	border-bottom: 1.5px solid #f3f3f3;

	transition: border 1s cubic-bezier(0.250, 0.460, 0.450, 0.940), 
	background-color 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.list-item h2, .list-item p {
	display: inline-block;
}

.list-item h2 {
	font-size: 1.25em;
}

.list-icon {
	position: fixed;
	bottom: 2em;
	right: 2em;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: url("../img/icons/add.svg") no-repeat center center;

	-webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
}

/*.nav-list ul li:hover {
	background-color: #ececec;
}*/

.bottom-nav {
	width: 100%;
	height: 4em;
	background: #fff;
}

.nav-icons {
	width: 100%;
	margin: 0;
	padding: 0.25em 0 0.5em 0;
	background-color: #fff;
}

.nav-icons a {
	color: #333;
	text-decoration: none;
	transition: color 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.nav-icons a p {
	margin: 0;
}

.nav-icons li {
	display: inline-block;
	width: 32.5%;
	margin: 0 auto;
	text-align: center;
}

/*.nav-icons li::before {
	content: '';
	display: block;
	width: 45px;
	height: 45px;
	margin: 0 auto;
	margin-bottom: 0.75em;
}

.nav-icons a:nth-child(1) li::before {
	background: url("../img/icons/add.svg") no-repeat center center;
}

.nav-icons a:nth-child(2) li::before {
	background: url("../img/icons/bg.svg") no-repeat center center;
}

.nav-icons a:nth-child(3) li::before {
	background: url("../img/icons/info.svg") no-repeat center center;
}*/

.content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.content-bg {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.title-container {
	position: fixed;
	display: block;
	width: 100%;
	height: 4em;
	z-index: 999;
	/*background-color: rgba(249, 249, 249, 0.95);*/
}

.back-btn {
	position: absolute;
	left: 0;
	width: 15%;
	height: 4em;
	background: url('../img/icons/back.svg') no-repeat center center;
	background-size: 20px 20px;
}

.list-title {
	display: block;
	width: 75%;
	height: 100%;
	margin: 0 auto;
}

.list-title .title {
	position: absolute;
	top: 0.5em;
}

.edit-btn {
	position: absolute;
	right: 0;
	width: 20%;
	height: 4em;
	background: url('../img/icons/edit.svg') no-repeat center center;
	background-size: 20px 20px;
}

.task-icon {
	position: fixed;
	bottom: 2em;
	right: 2em;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: url("../img/icons/add.svg") no-repeat center center;

	-webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
}

.task-input {
	display: block;
	width: 100%;
}

.task-input input[type="text"] {
	margin: 4em auto;
	width: 90%;
	height: 2em;
}

.task-input input[type="text"]:focus,
.task-input input[type="text"].focus {
	outline: none;
	border-bottom: solid 2px #969696;
}

.task-container {
	width: 100%;
	padding: 6em 0;
}

.current {
	margin-bottom: 4em;
}

.task {
	background: rgba(255, 255, 255, 0.95);
	width: 90%;
	height: 2.5em;
	margin: 0.75em auto;
}

.checkbox {
	display: inline-block;
	width: 40px;
	height: 100%;
}

.checkbox input[type="checkbox"] {
	position: relative;
	top: 0.6em;
	left: 0.8em;
}

.task-content {
	display: inline-block;
	width: 80%;
	height: 100%;
}

.task-content label {
	position: relative;
	top: 0.6em;
	color: #333333;
	cursor: pointer;
}

.options-menu {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	width: 200px;
	background-color: #f3f3f3;

	-webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
}

.options-menu ul {
	list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.options-menu ul li {
	padding: 0.1em 1em;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(243, 243, 243, 0.75);
	opacity: 0;
	z-index: 999;
	pointer-events: none;

	transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.modal:target {
	opacity: 1;
	pointer-events: auto;
}

.modal-container {
	width: 80%;
	overflow: auto;
	margin: auto;
	padding: 1.5em 1em;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	border: 1.5px solid;
	background-color: #f3f3f3;

	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

	transition: border-color 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.modal-title {
	padding-bottom: 1em;
}

.modal-title h1 {
	color: #333333;
	font-size: 1.5em;
}

.button-container {
	display: block;
	position: relative;
	width: 100%;
}

.button-container .buttons {
	position: absolute;
	right: 0;
}

.buttons .button {
	text-decoration: none;
	color: #333333;
	padding: 0.75em 0.75em;
}

.info {
	height: 240px;
}

.info p {
	margin: 0;
	margin-bottom: 2em;
}

.theme {
	height: 243px;
}

.theme-options div {
	margin-bottom: 0.9em;
}

.new-list, .edit-list {
	height: 175px;
}

.list-input {
	margin-top: 1em;
	margin-bottom: 3.75em;
}

.list-input input[type="text"] {
	background-color: #f3f3f3;
	width: 100%;
}

.delete {
	height: 135px;
}

.delete p {
	margin: 0;
	margin-bottom: 1.75em;
}

/*.new-list .button, .edit-list .button {
	margin-left: 1em;
}*/

/*.bg-content {
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}*/

/* Background for Content View */

.bamboo {
	background: #f9f9f9 url("../img/bamboo.jpg") no-repeat center;
	background-size: cover;
}

.fields {
	background: #f9f9f9 url("../img/fields.jpg") no-repeat center;
	background-size: cover;
}

.mountains {
	background: #f9f9f9 url("../img/mountains.jpg") no-repeat center;
	background-size: cover;
}

.sky {
	background: #f9f9f9 url("../img/sky.jpg") no-repeat center;
	background-size: cover;
}

.cliffs {
	background: #f9f9f9 url("../img/cliffs.jpg") no-repeat center;
	background-size: cover;
}

/* Focus State for Text Input Border */

.bamboo-input:focus {
	outline: none;
	border-bottom: solid 2px rgb(119, 139, 113);
}

.fields-input:focus {
	outline: none;
	border-bottom: solid 2px rgb(250, 190, 40);
}

.mountains-input:focus {
	outline: none;
	border-bottom: solid 2px rgb(71, 45, 68);
}

.sky-input:focus {
	outline: none;
	border-bottom: solid 2px rgb(89, 117, 129);
}

.cliffs-input:focus {
	outline: none;
	border-bottom: solid 2px rgb(44, 48, 56);
}

/* Focus State for List and Task items */

a:focus:active .bamboo-color {
	color: #fff;
	background-color: rgba(142, 168, 134, 0.95);
}

.fields-color:focus, .fields-color:active {
	color: #fff;
	background-color: rgba(255, 216, 117, 0.95);
}

.mountains-color:focus, .mountains-color:active {
	color: #fff;
	background-color: rgba(199, 185, 197, 0.95);
}

.sky-color:focus, .sky-color:active {
	color: #fff;
	background-color: rgba(137, 158, 166, 0.95);
}

.cliffs-color:focus, .cliffs-color:active {
	color: #fff;
	background-color: rgba(78, 85, 100, 0.95);
}


@media only screen and (min-width: 1280px) {
	nav {
		width: 25%;
	}
	
	.content {
		width: 75%;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	nav {
		width: 35%;
	}
	
	.content {
		width: 65%;
	}
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
	nav {
		width: 40%;
	}
	
	.content {
		width: 60%;
	}
}

@media only screen and (max-width: 760px) {
	nav {
	}
	
	.content {
		transform: translateX(100%);
		-webkit-transition: transform 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
   		-moz-transition: transform 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
     	-o-transition: transform 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        transition: transform 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutCubic */
	}

	.content.visible {
		transform: translateX(0);
	}
}














.active {
	background-color: rgba(240,90,63,0.25);
}

label.active {
	text-decoration: line-through;
}

.title input[type="text"] {
	padding: 0;
	margin: 0;
	font-size: 2em;
	/*appearance: none;
	box-shadow: none;
	border: none;
	border-radius: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-o-border-radius: none;
	-ms-border-radius: none;
	border-bottom: solid 0.15em #b6b6b6;
	transition: border 0.3s;
	-moz-transistion: border 0.3s;
	-webkit-transition: border 0.3s;*/
}

/*input[type="text"]:focus {
	outline: none;
	border-bottom: solid 0.15em #FF9800;
}*/