<!DOCTYPE html>
<html ng-app="clipboard">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0" />
        <meta name="author" content="Aman Biswas" />
        <meta name="description" content="To-do list made in AngularJS" />

        <title>Clipboard | Getting shit done since 1921...again </title>

        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css">

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	</head>
	<body ng-controller="MainController as mainCtrl">
		<div class="main">
			<nav>
				<div ng-style="{'background-color':theme.colorRGB.dark}" class="name"></div>

				<div class="bottom-nav">
					<ul class="nav-icons">
						<a href="#"><li>Add</li></a>
						<a href="#open-bg"><li>Theme</li></a>
						<a href="#"><li>Info</li></a>
					</ul>
				</div>
			</nav>
		
			<div class="content" ng-class="theme.bgImg">
				<div ng-style="{'background-color':theme.colorRGBA.light}" class="title"></div>
			</div>

			<div id="open-bg" class="modal-bg">
				<div class="bg-container">
					<div class="bg-content">
						<button ng-click="mainCtrl.setTheme('bamboo', '142, 168, 134', '119, 139, 113')">Bamboo</button>
						<button ng-click="mainCtrl.setTheme('fields', '255, 216, 117', '250, 190, 40')">Fields</button>
						<button ng-click="mainCtrl.setTheme('mountains', '199, 185, 197', '71, 45, 68')">Mountains</button>
						<button ng-click="mainCtrl.setTheme('sky', '137, 158, 166', '89, 117, 129')">Sky</button>
						<button ng-click="mainCtrl.setTheme('cliffs', '78, 85, 100', '44, 48, 56')">Cliffs</button>
						<a href="#close">Close</a>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>