<!DOCTYPE html>
<html ng-app="clipboard">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0" />
        <meta name="author" content="Aman Biswas" />
        <meta name="description" content="To-do list made in AngularJS" />

        <title>Clipboard | Getting shit done since 1921...again </title>

        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	</head>
	<body ng-controller="MainController as mainCtrl">
		<div class="main">
			<nav>
				<div ng-style="{'background-color':theme.colorRGB.dark}" class="name"><h1>Clipboard</h1></div>

				<div class="bottom-nav">
					<ul class="nav-icons">
						<a ng-style="{'color':theme.colorRGB.dark}" href="#">
							<li><div ng-style="{'background-color':theme.colorRGBA.dark}" class="icon"></div><p>Add</p></li>
						</a>
						<a ng-style="{'color':theme.colorRGB.dark}" href="#open-bg">
							<li><div ng-style="{'background-color':theme.colorRGBA.dark}" class="icon"></div><p>Theme</p></li>
						</a>
						<a ng-style="{'color':theme.colorRGB.dark}" href="#">
							<li><div ng-style="{'background-color':theme.colorRGBA.dark}" class="icon"></div><p>Info</p></li>
						</a>
					</ul>
				</div>
			</nav>
		
			<div class="content" ng-class="theme.bgImg">
				<div ng-style="{'background-color':theme.colorRGBA.light}" class="title"><h1>Lis Totle</h1></div>
			</div>

			<div id="open-bg" class="modal-bg">
				<div ng-style="{'border-color':theme.colorRGB.dark}" class="bg-container">
					<div class="bg-content">
						<form>
							<input id="bamboo" type="radio" ng-model="theme.bgImg" ng-click="setTheme('142, 168, 134', '119, 139, 113')" value="bamboo" /><label for="bamboo">Bamboo</label><br />
							<input id="fields" type="radio" ng-model="theme.bgImg" ng-click="setTheme('255, 216, 117', '250, 190, 40')" value="fields" /><label for="fields">Fields</label><br />
							<input id="mountains" type="radio" ng-model="theme.bgImg" ng-click="setTheme('199, 185, 197', '71, 45, 68')" value="mountains" /><label for="mountains">Mountains</label><br />
							<input id="sky" type="radio" ng-model="theme.bgImg" ng-click="setTheme('137, 158, 166', '89, 117, 129')" value="sky" /><label for="sky">Sky</label><br />
							<input id="cliffs" type="radio" ng-model="theme.bgImg" ng-click="setTheme('78, 85, 100', '44, 48, 56')" value="cliffs" /><label for="cliffs">Cliffs</label><br />
						</form>
						<a href="#close">Close</a>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>