<!DOCTYPE html>
<html ng-app="clipboard">
	<head>
		 <meta charset="UTF-8" />
        <meta name="viweport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Aman Biswas" />
        <meta name="description" content="To-do list made in Angular" />

        <title>Clipboard | Getting shit done since 1921...again </title>

        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	</head>
	<body ng-controller="MainController as mainCtrl">
		<p>{{mainCtrl.list.active}}</p>
		<p ng-show="mainCtrl.list.active">visible</p>
		<p>{{mainCtrl.list.count}}</p>

		<header ng-show="mainCtrl.list.active">
			<h1>{{mainCtrl.newTitle}}</h3>
			<!--<h1>{{mainCtrl.list.title}}</h1>-->
		</header>

		<form ng-hide="mainCtrl.list.active" ng-submit="mainCtrl.addTitle()">
			<input ng-model="mainCtrl.newTitle" type="text" name="newTitle" placeholder="Add a title">
			<input type="submit">
		</form>

		<!--<section>
			<h3>{{mainCtrl.newTask}}</h3>
		</section>-->
		<section ng-show="mainCtrl.list.active">
			<form ng-submit="mainCtrl.addTask()">
				<input ng-model="mainCtrl.newTask" type="text" name="newTask" placeholder="Add a to-do item">
				<input type="submit">
			</form>

			<form ng-repeat="task in mainCtrl.list.tasks">
				<input ng-click="mainCtrl.removeTask(task)" type="checkbox" name="task">{{task}}
			</form>
		</section>

		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>