<!DOCTYPE html>
<html ng-app="clipboard">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0" />
        <meta name="author" content="Aman Biswas" />
        <meta name="description" content="To-do list made in Angular" />

        <title>Clipboard | Getting shit done since 1921...again </title>

        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	</head>
	<body ng-controller="MainController as mainCtrl">
		<div ng-repeat="list in mainCtrl.checklist">
			<h1>{{list.title}}</h1>
			<form ng-repeat="task in list.tasks">
				<input ng-click="mainCtrl.removeTask(task)" type="checkbox" name="task">{{task}}
			</form>
		</div>

		<div ng-repeat="game in mainCtrl.games">
			<p>{{game}}</p>
		</div>

		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>